YªçŠx-®éÜj×¢ëiºÚ+Š§j[h‘éÜ¢éíë­<N‹Z–‹­¦ëeŠw¬ÔéÉ½½Ðì(€½±½ÈµÍ¡•µ”è‘…É¬ì(€™½¹Ðµ™…µ¥±äè%¹Ñ•È°Õ¤µÍ…¹ÌµÍ•É¥˜°ÍåÍÑ•´µÕ¤°€µ…ÁÁ±”µÍåÍÑ•´°	±¥¹­5…MåÍÑ•µ½¹Ð°€‰M•½”U$ˆ°Í…¹ÌµÍ•É¥˜ì(€½±½Èè€˜Ñ›®tòÚ$z{-®éÜj× .footer-bottom { display: block; line-height: 1.6; }
  .footer-bottom span { display: block; }
  .footer-bottom span + span { margin-top: 5px; }
}
